{% extends 'base.html' %}

{% block title %}Help4You{% endblock %}

{% block content %}
<h1>Welcome to Help4You, We're here to help!</h1>
<h3>Type in your address and choose a service type to get the best assistance!</h3>
<form method="POST">
    {% csrf_token %}
    <div class="form-group mb-4">
        <label for="address">Address:</label>
        <input class="form-control" type="text" id="address" name="client_address" required>
    </div>
    <div class="form-group mb-4">
        <label for="full_name">Full name:</label>
        <input class="form-control" type="text" id="full_name" name="client_fullname" required>
    </div>
    <div class="form-group mb-4">
        <label for="email">Email:</label>
        <input class="form-control" type="email" id="email" name="client_email" required>
    </div>
    <div class="form-group mb-4">
        <label for="mobile">Mobile Number:</label>
        <input class="form-control" type="tel" id="mobile" name="client_mobile" required>
    </div>
    <div class="form-group mb-4">
        <label for="profession">Specialist:</label>
        <select class="form-control" id="profession" name="profession" required>
            <option value="" disabled selected>Select a specialist...</option>
            {% for profession in professions %}
            <option value="{{ profession.id }}">{{ profession.profession }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group mb-4">
        <label for="service">Service:</label>
        <select class="form-control" id="service" name="service" required>
            <option value="" disabled selected>Select a service...</option>
        </select>
    </div>
    <div class="form-group mb-4">
        <p id="service_description"></p>
    </div>
    <div class="form-group mb-4">
        <label for="datetime">Select service Date and Time:</label>
        <input class="form-control" type="datetime-local" id="datetime" name="service_date" required>
    </div>
    <button class="btn btn-secondary mb-4" type="submit">Submit</button>
    {% if messages %}
    <div class="alert alert-warning">
        {% for message in messages %}
        {{message}}
        {% endfor %}
    </div>
    {% endif %}
</form>
{% endblock %}

{% block js %}
<script>
    function populate_services() {
        var profession_id = $("#profession").val();
        if (profession_id) {
            $.ajax({
                url: "/get_services/" + profession_id + "/",
                type: "GET",
                dataType: "json",
                success: function (data) {
                    $("#service").empty();
                    $("#service").append('<option value="" disabled selected>Select a service...</option>');
                    $.each(data.services, function (index, service) {
                        $("#service").append('<option value="' + service.id + '" data-description="' + service.description + '">' + service.service + '</option>');
                    });
                }
            });
        } else {
            $("#service").empty();
            $("#service").append('<option value="" disabled selected>Select a service...</option>');
            $("#service_description").text("");
        }
    }

    $(document).ready(function () {
        populate_services();

        $("#profession").change(function () {
            populate_services();
        });

        $("#service").change(function () {
            var selectedService = $(this).find(':selected');
            var description = selectedService.data('description');
            $("#service_description").text(description);
        });

        const dateTimePicker = document.getElementById('datetime');

        dateTimePicker.addEventListener('change', function () {
            const selectedDate = new Date(dateTimePicker.value);
            selectedDate.setMinutes(0);
            const adjustedDate = new Date(selectedDate.getTime() - (selectedDate.getTimezoneOffset() * 60000));
            dateTimePicker.value = adjustedDate.toISOString().slice(0, 16);
        });
    });
</script>
{% endblock %}